<h1>Show details product</h1>
<p>Title: <%= @product.title %></p>
<p>Description: <%= @product.description %></p>
<p>Price: <%= @product.price %></p>
<p>Published: <%= @product.published %></p>
<p>Category id: <%= @product.category_id %></p>
<p>Level: <%= @product.level %></p>
<p>Country: <%= @product.country %></p>
