<h1>Show details product</h1>
<p><%= @product.title %></p>
<p><%= @product.description %></p>
<p><%= @product.price %></p>
<p><%= @product.published %></p>
<p><%= @product.category_id %></p>
<p><%= @product.level %></p>
<p><%= @product.country %></p>
